* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  position: relative;
  font-family: $font;
  font-size: 1.4rem;
  color:#353535;
}
.container{
  margin: 0 auto;
  padding:30px 15px;
  max-width: 450px;
  border-radius: 25px;
}